

.home-form {
  margin: 40px 80px 40px 80px;
}

.botonera {
  margin-top: 60px;
}

.uploader {
  margin-top: 50px;
}

.uploader input{
  display: none;
}

.image-upload-container {
  cursor: pointer;
}

.click {
  font-weight: bold;
}

.preview {
  margin-top: 20px;
}

.preview label{
  font-weight: bold;
  color: blue;
}




